body {
  display: flex;
  flex-flow:column-reverse wrap;
  justify-content: space-around;
  border: 2px solid red;
  height: 1200px;
}

div {
  background-color: hotpink;
  border: 2px solid black;
  height:50px;
  width: 50px;
}
