div {
  height: 200px;
  display:inline-block;
}

#one {
  width: 30%;
  border:2px red solid;
  position: relative;
}

#two {
  position:absolute;
  bottom: 100;
  left: 300px;
  border: 2px black solid;
  width:70%;
}
