html, nav, main {
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
}


nav {
  border: 3px solid black;
  background-color: gray;
  height: 150px;
  width: 25%;
  float: left;
}


main {
  border: 3px solid orangered;
  background-color: yellow;
  height: 150px;
  width: 75%;
  float: right;
}
