div {
  width:200px;
  height:100px;
  border: 2px black;
  border-style: solid;
  border-radius: 45% 45%;
  display: inline-block;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
