html, body, header, nav, article, aside, footer {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

header, nav, article, aside, footer {
  border: 2px black solid;
  background-color: lightyellow;
  text-align: center;
  font-family: serif;
  height: 100px;
  padding: 40px;
}
