html, header, nav, main, footer {
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
}

header {
  border: 3px solid magenta;
  background-color: pink;
  height: 20px;
}

nav {
  border: 3px solid black;
  background-color: gray;
  height: 50px;
  width: 24%;
  float: left;
}

main {
  border: 3px solid orangered;
  background-color: yellow;
  height: 50px;
  width: 74%;
  float: right;
}

footer {
  border: 3px solid magenta;
  background-color: pink;
  height: 20px;
  clear: both;
}
