div {
  width: 400px;
  height: 200px;
  border: 10px dashed red;
  margin: 20px auto;
}

.seconddiv {
  box-sizing: border-box;
  background-image: url("puppy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
