html, body {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
    /* font formatting */
  font-family: 'Cantarell', sans-serif;
  color: whitesmoke;
}

section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* For debugging */
   /* border: 3px dashed hotpink; */
   /* background */
   background-color: darkgray;
   background-image: url("background-photo-mobile-devices.jpg");
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   background-origin: border-box;
   background-attachment: fixed;
}

div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* For debugging */
  /* border: 3px dashed blue; */
}

h1 {
  font-size: 1.9rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
}

button {
  font-size: 1.4rem;
  color: rgb(202, 250, 234);
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid rgb(202, 250, 234);
  background-color: transparent;
  cursor: pointer;
  padding: .5rem .7rem;
}
